@font-face {
font-family: Marvin;
src: url(../fonts/MarvinVisions-Bold.woff);
}
$font : sans-serif;

html, body{
  height: 100%;
  margin:0;
  background-image: url('../img/oldComputer.jpg');
  background-size: cover;
}
h1,h2,h3,p{
  margin:0;
}

.title{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top:10%;
  h1{
    color: orange;
    font-family: Marvin;
    font-size: 4rem;
    // text-shadow:
    //      -2px -2px 0 grey,
    //       2px -2px 0 grey,
    //      -2px 2px 0 grey,
    //       2px 2px 0 grey;
  }
}
.the-form{
  color: white;
  font-family: $font;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  button{
    display: block;
    margin:0 auto;
  }
}
.inputs{
  text-align: center;
  label,input{
    display: block;
    margin: 0 auto;
  }
}
